.stats-element {
    font-size: 20px;
    display: inline;
    color: black;
    font-family: sans-serif;
    margin-right: 5px;
}

.stats-value {
    font-size: 50px;
    color: black;
    font-family: sans-serif;
    display: inline;
}

.stat-element-container{
    margin-bottom: 20px;
    height: 100px;
    background-color: rgb(110, 96, 201);
    display: flex;
    align-items: center;
}

img{
    margin-left: 10px;
    margin-right: 30px;
    color: black;
    padding: 5px;
    font-size: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black
}

canvas{
    display: block;
    margin: auto;
    /* padding: 50px; */
    /* background: lightgray; */
}