#not-logged-in, .to-login-link{
    font-size: 30px;
}

#not-logged-in{
    display: none;

}
#logged-in {
    display: none;
}

#delete-user, #delete-account, #user-stats-container, #upgrade-user, #downgrade-self, #new-Producer, #search-user,#delete-Producer{
    display: none;
}

.to-login-link{
    font-style: italic;
    text-decoration: underline;
}

a.product-link{
    color: rgb(8, 8, 121);
    text-decoration: underline;
}

.user-stats{
    display: grid; 
    grid-template-columns: 45% 51%;
    column-gap: 80px;
}

button{
    border-radius: 30px;
    background: #275efe;
    color: white;
}